<%- include("../includes/head")%>
</head>

<body>
 
    <%- include("../includes/left_menu")%>

    <div class="all-content-wrapper">
        <%- include("../includes/logo_top") %> 
        <div class="header-advance-area">
            <%- include("../includes/menu_top",{user:user}) %> 
            <!-- Mobile Menu start -->
           <%- include("../includes/mobile_menu") %> 
            <!-- Mobile Menu end -->

            <div class="product-tab-list tab-pane fade active in" id="description">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="review-content-section">
                          
                            <div id="dropzone1" class="pro-ad">
                                <form action="/payement/postRegister"  id="demo1-upload" method="POST">
                                    <div class="row" style="margin: auto;">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <input name="code_etudiant" type="hidden" class="form-control" value="<%= immatriculation[0].code_etudiant %> "  required   />
                                            </div>
                                            <div class="form-group">
                                                <input name="montant" type="number" placeholder="montant" class="form-control"  required   />
                                            </div>
                                            <div class="form-group">
                                                <select name="objet_paiement" class="form-control" required>
                                                    <option value="" selected="" disabled="" >Objet Paiement</option>
                                                    <option >Scolarite</option>
                                                    <option >Maillot</option>
                                                    <option >Badge</option>
                                                    <option >Assurance</option>
                                        
                                                      
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select name="nom_faculte" class="form-control" required>
                                                    <option value="" selected="" disabled="" >Selectionner Faculté</option>
                                                    <% immatriculation.forEach(fac =>{ %> 
                                                   
                                                        <option ><%= fac.faculte.nom_faculte %> </option>
                                                      
                                                        <% }) %> 
                                                  
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select name="mode_paiement" class="form-control" required>
                                                    <option value="" selected="" disabled="" >Selectionner mode Paiement</option>
                                                    <option >Cash</option>
                                                    <option >MonCash Jephté </option>
                                                    <option >MonCash SION</option>
                                                    <option >UNIBANK</option>
                                                    <option >SOGEBANK</option>  
                                                    <option >BNC</option>
                                                    <option >FONKOZE</option>
                                                      
                                                </select>
                                            </div>
                                            
                                           
                                            <div class="form-group">
                                                <select name="annee_academique" class="form-control" required>
                                                    <option value="" selected="" disabled="" >Selectionner Année academique</option>
                
                                                    <option >2020-2021</option>
                                                    
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <input name="date_paiement" type="date" placeholder="date paiement" class="form-control"  required   />
                                            </div>
                                            
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="payment-adress"  style="padding-bottom: 3px;">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light">Payer</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <%- include("../includes/footer") %> 
    </div>

  <%- include("../includes/scripts") %> 
</body>

</html>