<%- include("includes/head")%>
</head>

<body>
 
    <%- include("includes/left_menu")%>

    <div class="all-content-wrapper">
        <%- include("includes/logo_top") %> 
        <div class="header-advance-area">
            <%- include("includes/menu_top",{user:user}) %> 
            <!-- Mobile Menu start -->
           <%- include("includes/mobile_menu") %> 
            <!-- Mobile Menu end -->

            <h1>place for content</h1>

            
        </div>
    
        <%- include("includes/footer") %> 
    </div>

  <%- include("includes/scripts") %> 
</body>

</html>