<%- include("../includes/head")%>
</head>

<body>
 
    <%- include("../includes/left_menu")%>

    <div class="all-content-wrapper">
        <%- include("../includes/logo_top") %> 
        <div class="header-advance-area">
            <%- include("../includes/menu_top",{user:user}) %> 
            <!-- Mobile Menu start -->
           <%- include("../includes/mobile_menu") %> 
            <!-- Mobile Menu end -->

            <div class="error-pagewrap">
                <div class="error-page-int">
                    <div class="text-center custom-login">
                        <h3>Modifier utilisateur </h3>
                        <p>veuillez a bien remplir les champs</p>
                    </div>
                    <div class="content-error">
                        <div class="hpanel">
                            <div class="panel-body">
                                <% if(message.length>0) {%>
                                    <div class="alert alert-danger"><%= message %></div>
                               <% } %> 
                                <form action="/user/updatetUser/<%= users.username %>"  method="POST">
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label>Nom</label>
                                            <input class="form-control" name="nom_user" value="<%= users.nom_user %>" required>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label>Prenom</label>
                                            <input class="form-control" name="prenom_user" value="<%= users.prenom_user %>" required>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            
                                            <input type="hidden" class="form-control" name="username" value="<%= users.username %>" required>
                                        </div>
                                        
                                        <div class="form-group col-lg-4">
                                            <label>Fonction</label>
                                            <input class="form-control" name="fonction"  value="<%= users.fonction %>" required>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>Droit</label>
                                            <select class="form-control" name="droit" value="<%= users.droit %>" required>
                                                <option>Administrateur</option>
                                                <option>Utilisateur</option>
                                                
                                              </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>Statut</label>
                                            <select class="form-control" name="statut"  value="<%= users.statut %>" required>
                                                <option>Active</option>
                                                <option>Desactive</option>
                                                
                                              </select>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-success loginbtn">Modifier</button>
                                       
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  
                </div>   
            </div>
        </div>
    
        <%- include("../includes/footer") %> 
    </div>

  <%- include("../includes/scripts") %> 
</body>

</html>