<%- include("../includes/head")%>
</head>

<body>
 
    <%- include("../includes/left_menu")%>

    <div class="all-content-wrapper">
        <%- include("../includes/logo_top") %> 
        <div class="header-advance-area">
            <%- include("../includes/menu_top",{user:user}) %> 
            <!-- Mobile Menu start -->
           <%- include("../includes/mobile_menu") %> 
            <!-- Mobile Menu end -->

            <div class="error-pagewrap">
                <div class="error-page-int">
                    <div class="text-center custom-login">
                        <h3>Enregistrement de Depenses</h3>
                        <p>veuillez a bien remplir les champs</p>
                    </div>
                    <div class="content-error">
                        <div class="hpanel">
                            <div class="panel-body">
                                <form action="/depense/postDepense"  method="POST">
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label>Type de Depense</label>
                                            <select class="form-control" name="type" required>
                                                <% typeDepense.forEach(type =>{ %> 
                                                <option><%= type.type %> </option>
                    
                                                <% }) %> 
                                              </select>
                                        </div>
                            
                                        <div class="form-group col-lg-12">
                                            <label>Montant</label>
                                            <p style="color: red;"">Le montant doit etre en gourdes</p>
                                            <input type="number" class="form-control" name="montant"step="any" required>
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label>un memo pour la depense</label>
                                            <textarea name="memo" id="" cols="30" rows="10" class="form-control" placeholder="Taper ici....."></textarea>
                                            
                                        </div>
                                        
                                        
                                      
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-success loginbtn">Enregistrer</button>
                                        <input type="reset" class="btn btn-default"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  
                </div>   
            </div>
        </div>
    
        <%- include("../includes/footer") %> 
    </div>

  <%- include("../includes/scripts") %> 
</body>

</html>