<%- include("../includes/head")%>
</head>

<body>
 
    <%- include("../includes/left_menu")%>

    <div class="all-content-wrapper">
        <%- include("../includes/logo_top") %> 
        <div class="header-advance-area">
            <%- include("../includes/menu_top",{user:user}) %> 
            <!-- Mobile Menu start -->
           <%- include("../includes/mobile_menu") %> 
            <!-- Mobile Menu end -->

            <div class="error-pagewrap">
                <div class="error-page-int">
                    <div class="text-center custom-login">
                        <h3>Enregistrement des Notes</h3>
                        <p>veuillez a bien remplir les champs</p>
                    </div>
                    <div class="content-error">
                        <div class="hpanel">
                            <div class="panel-body">
                                <form action="/notes/postNotes"  method="POST">
                                    <input type="text" name="code_etudiant" value="<%= code_etudiant %>">
                                    <input type="text" name="code_faculte" value="<%= code_faculte %>">
                                    <input type="text" name="semestre" value="<%=semestre %>">
                                    <div class="row">
                                        <% var count =-1 %> 
                                        <% cours.forEach((element,index) =>{ %>
                                            <% count++ %> 
                                        <div class="form-group col-lg-12">
                                            <label><%= element.cour.nom_cours %> </label>
                                            
                                            <input type="text" <% if(notes[count].code_cours!==element.cour.code_cours) {%>   value="<%= notes[count].code_cours %>"  disabled <% }%>   class="form-control" name="notes"step="any" >
                                            
                                            <input type="text" name="code_cours" value="<%= element.cour.code_cours %>">
                                        </div>
                                        <% }) %>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-success loginbtn">Enregistrer</button>
                                        <input type="reset" class="btn btn-default"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  
                </div>   
            </div>
        </div>
    
        <%- include("../includes/footer") %> 
    </div>

  <%- include("../includes/scripts") %> 
</body>

</html>