



<%- include("../includes/head")%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/modals.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>
<body>

<table id="example" class="display" style="width:100%" data-show-columns="true">
    <thead>
        <tr>
            <th>Code Cours</th>
            <th>Code Etudiant</th>
            <th>Nom Cours</th>
            <th>Semestre</th>
            <th>Notes</th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% notes.forEach(element =>{ %> 
        <tr>
            <td><%= element.code_cours %></td>
            <td><%= element.etudiant.code_etudiant %></td>
            <td><%= element.cour.nom_cours %></td>
            <td><%= element.semestre %></td>
            <td><%= element.note %></td>
           
            <td><a href="/notes/edit_note/<%= element.code %>"><i class="fa fa-edit"> Modifier </i></a>
                <a href="#" data-toggle="modal" data-target="#<%= element.code%>"><i class="fa fa-trash"> Supprimer </i></a>
       </td>
        </tr>
        <div id="<%= element.code%>" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                   
                      
                        <div class="modal-close-area modal-close-df">
                            <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                        </div>
          
                    <div class="modal-body">
                        <i class="educate-icon educate-danger modal-check-pro information-icon-pro"></i>
                        <p>Voulez-vous vraiment Supprimer</p>
                        <h2><%= element.cour.nom_cours %>
                     
                    </div>
                    <div class="modal-footer footer-modal-admin">
                        <a data-dismiss="modal" href="#">Cancel</a>
                        <a class="bg-danger" href="/notes/delete_note/<%= element.code %>">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>
            <th>Code Cours</th>
            <th>Code Etudiant</th>
            <th>Nom                             </th>
            <th>Semestre</th>
            <th>Notes</th>
            
            <th>Action</th>
        </tr>
    </tfoot>
</table>
<a href="/index"> <button class="btn btn-primary">Retour à la Page d'Accueil</button></a>


<script>
$(document).ready(function() {
var printCounter = 0;

// Append a caption to the table before the DataTables initialisation
$('#example').append('<caption style="caption-side: bottom">A fictional company\'s staff table.</caption>');

$('#example').DataTable( {
  dom: 'Bfrtip',
  buttons: [
      'copy',
      {
          extend: 'excel',
          messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.'
      },
      {
          extend: 'pdf',
          messageBottom: null
      },
      {
          extend: 'print',
   
          messageBottom: null
      }
  ]
} );
} );



</script>
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>

  <!-- jquery
		============================================ -->
     
        <!-- bootstrap JS
            ============================================ -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- wow JS
            ============================================ -->
        
       
        
   

</body>
</html>
