<%- include("../includes/head")%>
</head>

<body>
 
    <%- include("../includes/left_menu")%>

    <div class="all-content-wrapper">
        <%- include("../includes/logo_top") %> 
        <div class="header-advance-area">
            <%- include("../includes/menu_top",{user:user}) %> 
            <!-- Mobile Menu start -->
           <%- include("../includes/mobile_menu") %> 
            <!-- Mobile Menu end -->

           
            <div class="single-pro-review-area mt-t-30 mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-payment-inner-st">
                                <ul id="myTabedu1" class="tab-review-design">
                                    <li ><a href="#description">Informations Personnelles</a></li>
                                    <li class="active"><a href="#reviews"> Informations Complementaires</a></li>
                                   
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade " id="description">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                    <div id="dropzone1" class="pro-ad">
                                                        <form action="/etudiant/post_etudiant" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload" enctype="multipart/form-data" method="POST">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="form-group">
                                                                        <input required name="code_etudiant" type="text" class="form-control" disabled placeholder="Code Etudiant"  value="<%= etudiant.code_etudiant %>" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input required name="nom_etudiant" type="text" class="form-control" placeholder="Nom" value="<%= etudiant.nom_etudiant %>" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input required name="prenom_etudiant" type="text" class="form-control" placeholder="Prenom" value="<%= etudiant.prenom_etudiant %>" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <select name="sexe" class="form-control" required  disabled> 
                                                                           
                                                                            <option value="Masculin" <%  if (etudiant.sexe==="Masculin") { %>
                                                                                <%= "selected" %> 
                                                                                   <%  } %> >Masculin</option>
                                                                            <option value="Feminin" <%  if (etudiant.sexe==="Feminin") { %>
                                                                                <%= "selected" %> 
                                                                                   <%  } %> >Feminin</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input required name="date_naissance"  type="date" class="form-control" placeholder="Date Naissance" value="<%= date_nai %>" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input required name="lieu_naissance" type="text" class="form-control" placeholder="Lieu de Naissance" value="<%= etudiant.lieu_naissance %>" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <select name="groupe_sanguin" class="form-control" required disabled>
                                                                               
                                                                                <option value="AB+" <%  if (etudiant.groupe_sanguin==="AB+") { %>
                                                                                    <%= "selected" %> 
                                                                                       <%  } %>>AB+</option>

                                                                                <option value="AB-" <%  if (etudiant.groupe_sanguin==="AB-") { %>
                                                                                    <%= "selected" %> 
                                                                                       <%  } %>>AB-</option>

                                                                                <option value="A+" <%  if (etudiant.groupe_sanguin==="A+") { %>
                                                                                    <%= "selected" %> 
                                                                                       <%  } %>>A+</option>

                                                                                <option value="A-" <%  if (etudiant.groupe_sanguin==="A-") { %>
                                                                                    <%= "selected" %> 
                                                                                       <%  } %>>A-</option>

                                                                                <option  value="B+" <%  if (etudiant.groupe_sanguin==="B+") { %>
                                                                                    <%= "selected" %> 
                                                                                       <%  } %>>B+</option>

                                                                                <option value="B-" <%  if (etudiant.groupe_sanguin==="B-") { %>
                                                                                    <%= "selected" %> 
                                                                                       <%  } %>>B-</option>
                                                                                <option value="O-" <%  if (etudiant.groupe_sanguin==="O-") { %>
                                                                                <%= "selected" %> 
                                                                                    <%  } %>>O-</option>

                                                                                <option value="O+" <%  if (etudiant.groupe_sanguin==="O+") { %>
                                                                                    <%= "selected" %> 
                                                                                        <%  } %>>O+</option>
                                                                            </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <select name="statut_matrimonial" class="form-control" required disabled>
                                                            
                                                                                <option value="Celibataire" <%  if (etudiant.statut_matrimonial ==="Celibataire") { %>
                                                                                    <%= "selected" %> 
                                                                                        <%  } %>>Celibataire</option>
                                                                                <option value="Marié/e" <%  if (etudiant.statut_matrimonial ==="Marié/e") { %>
                                                                                    <%= "selected" %> 
                                                                                        <%  } %>>Marié/e</option>
                                                                                <option value="Divorcé/e" <%  if (etudiant.statut_matrimonial ==="Divorcé/e") { %>
                                                                                    <%= "selected" %> 
                                                                                        <%  } %> >Divorcé/e</option>
                                                                                <option value="Veuf/ve" <%  if (etudiant.statut_matrimonial ==="Veuf/ve") { %>
                                                                                    <%= "selected" %> 
                                                                                        <%  } %>>Veuf/ve</option>
                                                                               
                                                                            </select>
                                                                    </div>
                                                                   
                                                                   
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="form-group">
                                                                        <input name="email" type="email" class="form-control" placeholder="E-mail" value="<%= etudiant.email %>" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input name="cin" type="text" class="form-control" placeholder="CIN" value="<%= etudiant.cin %>" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input name="nif" type="text" class="form-control" placeholder="NIF" value="<%= etudiant.nif %>" disabled>
                                                                    </div>

                                                                    <div class="form-group"  >
                                                                      <img src="/photos/<%= etudiant.photos %>" alt="" width="150" height="150">
                                                                   </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="payment-adress">
                                                                        <button disabled type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-tab-list tab-pane fade active in" id="reviews">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                    <form action="/etudiant/post_etudiant2" method="post">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="devit-card-custom">
                                                                <div class="form-group">
                                                                    <input  type="hidden" class="form-control" name="code_etudiant" value="<%= etudiant.code_etudiant%>">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Occupation Etudiant</label>
                                                                    <input type="text" class="form-control" placeholder="Occupation" name="occupation" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Personne Responable</label>
                                                                    <input type="text" class="form-control" placeholder="Personne Responsable" name="personne_resp" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Telephone personne Responable</label>
                                                                    <input type="number" class="form-control" placeholder="Telephone Personne Responsable" name="telephone_resp" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Telephone Etudiant</label>
                                                                    <input  type="number" class="form-control" placeholder="Telephone Etudiant" name="telephone_etudiant" required>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label for="">Si Oui maladie de l'etudiant</label>
                                                                    <input type="text" class="form-control" placeholder="si l'etudiant souffre d'une maladie" name="maladie" value="aucune">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="">Personne contactée en cas de maladie</label>
                                                                    <input  type="text" class="form-control" placeholder="Numero du medecin" name="contact_maladie" value="aucun">
                                                                </div>
                                                                <button type="submit" class="btn btn-primary waves-effect waves-light">Enregistrer</button>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-tab-list tab-pane fade" id="INFORMATION">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="devit-card-custom">
                                                                <div class="form-group">
                                                                    <input type="url" class="form-control" placeholder="Facebook URL">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="url" class="form-control" placeholder="Twitter URL">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="url" class="form-control" placeholder="Google Plus">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="url" class="form-control" placeholder="Linkedin URL">
                                                                </div>
                                                                <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    
        <%- include("../includes/footer") %> 
    </div>

  <%- include("../includes/scripts") %> 
</body>

</html>